html, body {
    font-size: 100%;
    background: #fff;
    font-family: 'Oswald', sans-serif;
}

body a {
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul, label {
    margin: 0;
    padding: 0;
}

/*----start-container---*/
.banner {
    background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: 100%;
    min-height: 340px;
}

/*----start-header----*/
.header {
    background: rgba(246, 197, 112, 0.34);
    height: 80px;
}

.logo {
    float: left;
    margin-top: 1.3em;
}

.top-menu {
    float: right;
}

.top-menu ul li {
    float: left;
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.top-menu ul li:nth-child(1) {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.top-menu ul li a {
    background: rgba(246, 197, 112, 0.34);
    margin: 2em 2.5em;
    display: block;
    color: #54332A;
    font-weight: 400;
    font-size: 0.9em;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.top-menu ul li a:hover, .top-menu ul li.active a {
    color: #E82806;
}

.banner-head {
    text-align: center;
    margin: 5em 0;
    display: block;
}

.banner-head h1 {
    font-size: 2.3em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
}

.banner-head h2 {
    color: #fff;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 1px;
}

.banner-links ul {
    background: #FFC600;
}

.banner-links ul li {
    float: left;
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.39);
}

.banner-links ul li.active a, .banner-links ul li a:hover {
    background: #EB5A41;
    color: #fff;
}

.banner-links ul li a {
    display: block;
    color: #E9330C;
    padding: 1.2em 2em;
    font-size: 1em;
    text-decoration: none;
}

/*--banner-ends*/
.content {
    background: url(../images/main-bg.jpg);
}

.content-grids {
    background: #fff;
}

.content-main {
    padding: 20px;
}

.content-grid-head {
    background: #F9F4E2;
    padding: 0.8em 1em;
}

.content-grid-head h3 {
    float: left;
    color: #E9330C;
    font-size: 1.1em;
}

.content-grid-head h4 {
    float: right;
    color: #C3AEA3;
    font-size: 0.85em;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

.content-grid-head h4 a {
    color: #EB5A41;
    text-decoration: none;
}

.content-grid-head h4 a:hover {
    color: #C3AEA3;
}

.content-grid-info, .content-grid-single {
    background: url(../images/cntnt-bg.jpg) repeat 0px 0px;
    background-size: 100% 100%;
    padding: 1em 18px;
}

.content-grid-info h3, .content-sec-info h3 {
    font-size: 1.5em;
}

.content-grid-info h3 a, .content-sec-info h3 a {
    color: #87655B;
    margin-bottom: 0.5em;
    text-decoration: none;
    display: block;
    font-family: 'Oswald', sans-serif;
}

.content-grid-info h3 a:hover, .content-sec-info h3 a:hover {
    color: #EB5A41;
}

.content-grid-info p, .content-sec-info p {
    color: #BBA198;
    line-height: 1.5em;
    width: 80%;
    font-size: 0.95em;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 1em;
}

.content-grid-info img, .content-sec-info img {
    width: 100%;
}

a.bttn {
    color: #fff;
    background: #EB5A41;
    padding: 0.7em 0.9em;
    text-decoration: none;
    font-size: 1em;
    display: inline-block;
    margin-top: 1em;
}

a.bttn:hover {
    color: #EB5A41;
    background: #FFC600;
}

.content-grid-sec {
    padding: 1em 18px 0 18px;
    margin-top: 3em;
}

.content-sec-info h3 {
    margin-bottom: 8px;
}

.content-sec-info h4 {
    color: #EE705A;
    font-weight: 400;
    font-size: 0.85em;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 1.3em;
    display: block;
}

.content-sec-info h4 a {
    color: #785F5D;
    text-decoration: none;
}

.content-sec-info h4 a:hover {
    color: #FFC600;
}

/*----*/
.pages {
    background: #F6F1E0;
    padding: 1em;
    margin-top: 1.5em;
}

.pages ul li {
    display: inline-block;
}

.pages ul li a {
    margin: 0 8px;
    font-size: 0.95em;
    color: #BDA497;
    font-family: 'Source Sans Pro', sans-serif;
}

.pages ul li.active a, .pages ul li a:hover {
    color: #E82806;
}

/*----*/
.content-main-right {
    padding: 0;
}

.search {
    background: #EB5A41;
    padding: 1.8em;
}

.search h3 {
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
}

.search input[type="text"] {
    padding: 7px 8px;
    font-weight: 300;
    color: #fff;
    border: none;
    outline: none;
    width: 85%;
    font-weight: 400;
    font-size: 1em;
    background: #F4725C;
    font-family: 'Source Sans Pro', sans-serif;
}

.search input[type="submit"] {
    background: url(../images/splits.png) no-repeat -202px -6px;
    border: none;
    padding: 0px 0 23px 0;
    outline: none;
    width: 43px;
    height: 51px;
}

.categories, .archives {
    background: url(../images/cntnt-bg.jpg) repeat 0px 0px;
    background-size: cover;
    padding: 1.7em 18px 1.4em 18px;
}

.categories {
    border-bottom: 1px solid #fff;
}

.categories h3, .archives h3 {
    color: #87655B;
    font-size: 1.3em;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1.1em;
}

.categories li, .archives li {
    display: block;
    border-top: 1px solid #D3CAB0;
}

.categories li:nth-child(3) {
    border-bottom: 0px solid #D3CAB0;
}

.categories li a, .archives li a {
    color: #A5877D;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.95em;
    text-decoration: none;
    padding: 6px 0;
    display: block;
    font-weight: 400;
}

.archives li.active a, .categories li.active a, .categories li a:hover, .archives li a:hover {
    color: #EB5A41;
}

/*----*/
.fotter {
    background: #E4573F;
}

.fotter-info {
    border-right: 1px solid rgba(255, 255, 255, 0.13);
    padding: 0;
    padding-bottom: 1.8em;
}

.fotter-info h3, .fotter-list h3, .fotter-media h3 {
    color: #FFC600;
    font-size: 1.1em;
    padding-top: 2.5em;
}

.fotter-info p {
    color: #F4D0BF;
    line-height: 1.5em;
    margin-top: 1em;
    font-size: 0.9em;
    font-family: 'Source Sans Pro', sans-serif;
    width: 80%;
}

.fotter-list {
    border-right: 1px solid rgba(255, 255, 255, 0.13);
    padding-bottom: 4.1em;
}

.fotter-list ul li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    width: 90%;
}

.fotter-list ul li a {
    padding: 8px 0;
    color: #F4D0BF;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9em;
    display: block;
}

.fotter-list ul li a:hover {
    color: #FFC600;
}

.fotter-list ul li:nth-child(1) {
    margin-top: 5px;
    padding-top: 0;
}

.social-icons {
    margin-top: 1.3em;
}

.social-icons a span {
    width: 43px;
    height: 40px;
    background: url('../images/splits.png') no-repeat 0px 0px;
    display: inline-block;
    margin: 0 5px;
}

.social-icons a span.fb {
    background-position: -9px -10px;
}

.social-icons a span.fb:hover {
    background-position: -9px -67px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.social-icons a span.twt {
    background-position: -67px -10px;
}

.social-icons a span.twt:hover {
    background-position: -67px -67px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.social-icons a span.in {
    background-position: -128px -10px;
}

.social-icons a span.in:hover {
    background-position: -128px -67px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.copywrite {
    background: #65443A;
    text-align: left;
    padding: 1em 0;
}

.copywrite p {
    color: #8A685F;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
}

.copywrite p a {
    color: #FFC600;
    font-family: 'Source Sans Pro', sans-serif;
}

.copywrite p a:hover {
    color: #DF553E;
}

/*--contact--*/
.contact, .terms {
    background: url(../images/main-bg.jpg);
    padding: 2em 0;
}

.contact-left {
    padding-left: 0;
}

.contact-head {
    border-bottom: 3px solid #fff;
    padding-bottom: 2em;
}

.contact-head h3, .terms h3 {
    color: #87655B;
    font-size: 2em;
    margin-bottom: 1em;
    font-family: 'Oswald', sans-serif;
}

.contact form input[type="text"], .contact-right textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #87655B;
    font-size: 1.2em;
    margin-bottom: 1.5em;
    color: #87655B;
    background: #EFEAD8;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
    font-weight: 400;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.contact-right textarea {
    resize: none;
    height: 205px;
}

.contact form input[type="text"]:hover, .contact-right textarea:hover {
    border: 1px solid #EB5A41;
}

.contact form input[type="submit"] {
    font-weight: 400;
    color: #87655B;
    outline: none;
    border: 1px solid #87655B;
    font-size: 1.2em;
    padding: 0.6em 3em;
    background: #EFEAD8;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.contact form input[type="submit"]:hover {
    background: #87655B;
    border: 1px solid #87655B;
    color: #fff;
}

.address {
    padding: 2em 0;
}

.address h3 {
    text-align: center;
    color: #EB5A41;
    font-size: 1.5em;
}

.locations {
    padding-left: 0;
    margin-top: 3em;
}

.locations ul {
    margin-bottom: 2em;
}

.locations ul li {
    display: inline-block;
}

.locations ul li span {
    background: url(../images/find.png) no-repeat 0px 0px;
    vertical-align: super;
    width: 48px;
    height: 48px;
    display: inline-block;
    margin-right: 0.5em;
    padding-bottom: 7em;
}

.address-info p {
    color: #A5877D;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    text-decoration: none;
    padding-bottom: 1px;
    display: block;
    font-weight: 400;
}

.address-info p a {
    color: #EB5A41;
    font-family: 'Source Sans Pro', sans-serif;
}

.address-info h4 {
    color: #87655B;
    margin-bottom: 8px;
    font-size: 1em;
}

.address-info h5 a {
    color: #87655B;
    margin: 5px 0;
    font-size: 0.9em;
    display: block;
}

/*--terms--*/
.terms-sec-head {
    padding-bottom: 1em;
}

.terms-sec-head p {
    color: #A5877D;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
}

.term {
    background: #fff;
    padding: 1.2em 1.5em;
    margin-bottom: 2em;
}

.term h4 {
    color: #EB5A41;
    font-size: 1.1em;
}

.term p {
    color: #87655B;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6em;
    margin-top: 0.8em;
}

.term li {
    color: #87655B;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px 2em;
}

li.list {
    margin-top: 1em;
}

p.agree {
    display: inline-block;
    color: #A5877D;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin-left: 0.5em;
}

.terms input[type="button"] {
    display: block;
    font-weight: 400;
    color: #87655B;
    outline: none;
    border: 1px solid #87655B;
    font-size: 1em;
    margin-top: 1em;
    padding: 0.5em 2em;
    background: #EFEAD8;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.terms input[type="button"]:hover {
    background: #87655B;
    border: 1px solid #87655B;
    color: #fff;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 14px;
    right: 3%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    z-index: 999;
    background: url(../images/to-top1.png) no-repeat 5px 10px #db5941;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

#toTopHover {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

.content-grid-single h3 {
    color: #87655B;
    margin-bottom: 0.5em;
    text-decoration: none;
    display: block;
    font-family: 'Oswald', sans-serif;
}

.content-grid-single span {
    color: #BBA198;
    line-height: 1.5em;
    font-size: 0.95em;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 1em;
    display: block;
}

.content-grid-single p {
    color: #BBA198;
    line-height: 1.8em;
    font-size: 0.95em;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 1em;
}

.content-form {
    margin-top: 2em;
}

.content-form h3, .comments h3 {
    color: #87655B;
    margin-bottom: 1em;
    text-decoration: none;
    display: block;
    font-family: 'Oswald', sans-serif;
}

.content-form form input[type="text"], .content-form form textarea {
    padding: 10px 15px;
    width: 80%;
    color: #333;
    font-size: 1em;
    border: 1px solid #F6F1DE;
    font-family: 'Source Sans Pro', sans-serif;
    background: #F6F1DE;
    outline: none;
    display: block;
    margin: 10px 0;
}

.content-form form textarea {
    height: 100px;
    resize: none;
}

.content-form form input[type="submit"] {
    color: #fff;
    background: #EB5A41;
    padding: 0.4em 1.5em;
    text-decoration: none;
    font-size: 0.9em;
    display: inline-block;
    margin-top: 1em;
    border: none;
    outline: none;
    border: 1px solid #EB5A41;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.content-form form input[type="submit"]:hover {
    background: transparent;
    color: #EB5A41;
    border: 1px solid #EB5A41;
}

.comments {
    margin-top: 2em;
}

.comments img {
    float: left;
    width: 15%;
    border: 1px solid #87655B;
}

.comment-info {
    float: left;
    width: 77%;
    margin-left: 3%;
}

.comment-info h4 {
    font-size: 1em;
    color: #EB5A41;
    margin: 0px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0.5em;
}

.comment-info p {
    color: #BBA198;
    line-height: 1.5em;
    font-size: 0.95em;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 0 0.5em 0;
}

.comment-info h5 {
    color: #EB5A41;
    font-size: 0.85em;
    display: block;
    margin-bottom: 1em;
    font-family: 'Source Sans Pro', sans-serif;
}

.comment-info a {
    color: #87655B;
    background: transparent;
    padding: 0.5em 1.5em;
    text-decoration: none;
    font-size: 0.85em;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid #87655B;
}

.comment-info a:hover {
    color: #fff;
    background: #EB5A41;
    border: 1px solid #EB5A41;
}

.comment-grid {
    margin-bottom: 2.5em;
}

img.single-pic {
    width: 100%;
}

/*--responsive--*/
@media (max-width: 1024px) {
    .top-menu ul li a {
        margin: 2em;
    }

    .banner-head h1 {
        font-size: 2.2em;
    }

    .banner-head h2 {
        font-size: 1.7em;
    }

    .banner-links ul li a {
        padding: 1em 1.5em;
        font-size: 0.9em;
    }

    .content-grid-head h3 {
        font-size: 1em;
    }

    .content-main {
        padding: 16px;
    }

    .content-grid-head h4 {
        font-size: 0.83em;
    }

    .content-grid-info h3, .content-sec-info h3 {
        font-size: 1.3em;
        margin-bottom: 0.4em;
    }

    .content-grid-info p, .content-sec-info p {
        width: 95%;
        font-size: 0.9em;
    }

    a.bttn {
        padding: 0.55em 0.9em;
    }

    .content-grid-sec {
        margin-top: 2em;
    }

    .content-sec-info h4 {
        margin-bottom: 1em
    }

    .fotter-info p {
        width: 93%;
    }

    .search {
        padding: 1.5em;
    }

    .search input[type="text"] {
        width: 81%;
    }

    .categories h3, .archives h3 {
        font-size: 1.2em;
        margin-bottom: 1em;
    }

    .contact-head h3, .terms h3 {
        font-size: 1.6em;
        margin-bottom: 1em;
    }

    .contact form input[type="text"], .contact-right textarea {
        padding: 8px 12px;
        font-size: 1em;
        margin-bottom: 1em;
    }

    .contact-right textarea {
        height: 153px;
    }

    .contact form input[type="submit"] {
        font-size: 1em;
        padding: 0.5em 2em;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 18%;
        margin-top: 0.9em;
    }

    .logo img {
        width: 100%;
    }

    .header {
        height: 64px;
    }

    .top-menu ul li a {
        margin: 1.5em;
    }

    .banner-head {
        margin: 3.46em 0;
    }

    .banner-head h1 {
        font-size: 2em;
        margin-bottom: 5px;
    }

    .banner {
        min-height: 294px;
    }

    .content-grid-info img, .content-sec-info img {
        width: 100%;
        height: 350px;
    }

    .pages {
        padding: 0.6em;
        margin-top: 1em;
    }

    .search input[type="submit"] {
        padding: 0px 0 16px 0;
        width: 43px;
        height: 44px;
    }

    .search input[type="text"] {
        width: 93%;
    }

    .categories, .archives {
        padding: 1.3em 18px 1em 18px;
    }

    .fotter-info h3, .fotter-list h3, .fotter-media h3 {
        font-size: 1.1em;
        padding-top: 1.6em;
        letter-spacing: 1px;
    }

    .fotter-info {
        padding-bottom: 2em;
        width: 33%;
        float: left;
    }

    .fotter-list, .fotter-media {
        width: 33%;
        float: left;
    }

    .fotter-info p {
        overflow: hidden;
        height: 63px;
    }

    .fotter-list ul li {
        width: 97%;
    }

    .fotter-list {
        padding-bottom: 4.3em;
    }

    .contact-left, .contact-right {
        width: 50%;
        float: left;
    }

    .locations {
        width: 50%;
        float: left;
    }

    img.single-pic {
        height: 350px;
    }

    .content-form form input[type="text"], .content-form form textarea {
        width: 100%;
    }

    .content-form form textarea {
        height: 150px;
    }

    .content-grid-single p {
        overflow: hidden;
        height: 135px;
    }

    .comment-info p {
        height: 68px;
    }
}

@media (max-width: 640px) {
    .header {
        height: 58px;
    }

    .top-menu ul li a {
        margin: 1.3em;
    }

    .banner-head h1 {
        font-size: 1.7em;
        margin-bottom: 3px;
    }

    .banner-head h2 {
        font-size: 1.5em;
    }

    .banner-head {
        margin: 2.57em 0;
    }

    .banner-links ul li a {
        padding: 0.85em 1.2em;
    }

    .banner {
        min-height: 244px;
    }

    .content-main {
        padding: 15px;
    }

    .content-sec-info h3 {
        font-size: 1.1em;
    }

    .content-grid-head h3 {
        font-size: 0.95em;
    }

    .content-grid-info p, .content-sec-info p {
        font-size: 0.85em;
        line-height: 1.3em;
    }

    .content-grid-info img, .content-sec-info img {
        height: 285px;
    }

    a.bttn {
        padding: 0.55em 1em;
        font-size: 0.9em;
    }

    .content-grid-sec {
        margin-top: 1.5em;
    }

    .pages ul li a {
        font-size: 0.85em;
    }

    .search input[type="text"] {
        width: 90%;
    }

    .categories li a, .archives li a {
        font-size: 0.9em;
    }

    .categories h3, .archives h3 {
        font-size: 1.1em;
        margin-bottom: 0.6em;
    }

    .fotter-info p {
        font-size: 0.85em;
    }

    .fotter-list ul li a {
        font-size: 0.85em;
    }

    .fotter-list {
        padding-bottom: 2em;
    }

    .contact-left, .contact-right {
        width: 100%;
        float: left;
        padding: 0;
    }

    .address-info p {
        font-size: 0.9em;
    }

    .address {
        padding-bottom: 0;
    }

    .locations ul {
        margin-bottom: 1em;
    }

    .contact-head h3, .terms h3 {
        font-size: 1.4em;
        margin-bottom: 0.5em;
    }

    .terms p {
        font-size: 0.9em;
    }

    .term h4 {
        font-size: 1em;
    }

    .term {
        margin-bottom: 1em;
    }

    .terms input[type="button"] {
        font-size: 0.9em;
    }

    .term li {
        font-size: 0.9em;
        padding: 3px 2em;
    }

    .content-grid-single h3 {
        font-size: 1.3em;
    }

    img.single-pic {
        height: 285px;
    }

    .content-grid-single span {
        line-height: 1.3em;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .header {
        height: 48px;
    }

    .logo {
        width: 21%;
        margin-top: 0.8em;
    }

    .top-menu ul li a {
        margin: 1.1em;
        font-size: 0.83em;
    }

    .banner-head {
        margin: 1.69em 0;
    }

    .banner-head h1 {
        font-size: 1.2em;
        margin-bottom: 2px;
    }

    .banner-head h2 {
        font-size: 1em;
    }

    .banner-links ul li a {
        padding: 0.8em 1em;
        font-size: 0.8em;
    }

    .banner {
        min-height: 180px;
    }

    .content-grid-head {
        padding: 0.5em 1em;
    }

    .content-main {
        padding: 13px;
    }

    .content-grid-head h3 {
        font-size: 0.9em;
    }

    .content-grid-head h4 {
        font-size: 0.78em;
    }

    .content-grid-info h3, .content-sec-info h3 {
        font-size: 1.1em;
    }

    .content-grid-info p, .content-sec-info p {
        font-size: 0.82em;
        overflow: hidden;
        height: 37px;
        margin-bottom: 0.5em;
    }

    .content-grid-info img, .content-sec-info img {
        height: 220px;
    }

    a.bttn {
        padding: 0.5em 1em;
        font-size: 0.8em;
    }

    .pages {
        padding: 0.4em;
    }

    .search h3 {
        font-size: 1em;
    }

    .categories h3, .archives h3 {
        font-size: 1.05em;
        margin-bottom: 0.6em;
    }

    .categories li a, .archives li a {
        font-size: 0.85em;
    }

    .categories, .archives {
        padding: 1.3em 18px 0.5em 18px;
    }

    .search input[type="text"] {
        width: 87%;
    }

    .fotter-info, .fotter-list, .fotter-media {
        width: 100%;
        border-right: none;
        padding: 0;
    }

    .fotter-info {
        padding-bottom: 0em;
    }

    .fotter-info p {
        height: 41px;
    }

    .social-icons {
        margin: 1em 0 1.5em 0;
    }

    .copywrite p {
        font-size: 0.85em;
    }

    .contact form input[type="text"], .contact-right textarea {
        font-size: 0.9em;
    }

    .contact, .terms {
        padding: 1.5em 0;
    }

    .contact-right textarea {
        height: 130px;
    }

    .contact form input[type="submit"] {
        font-size: 0.85em;
    }

    .locations {
        margin-top: 2em;
    }

    .address h3 {
        font-size: 1.4em;
    }

    .locations {
        width: 100%;
    }

    .locations ul {
        margin-bottom: 2em;
    }

    .locations:nth-child(2) {
        display: none;
    }

    .address {
        padding: 1em 0 0 0;
    }

    .locations ul:nth-child(2) {
        margin-bottom: 0;
    }

    .terms p, .term li {
        font-size: 0.85em;
    }

    .term:nth-child(7) {
        display: none;
    }

    img.single-pic {
        height: 220px;
    }

    .content-grid-single h3 {
        font-size: 1.3em;
    }

    .content-form {
        margin-top: 1em;
    }

    .content-grid-single h3 {
        font-size: 1.15em;
    }

    .content-form form input[type="text"], .content-form form textarea {
        font-size: 0.9em;
        padding: 8px 11px;
    }

    .content-form form textarea {
        height: 121px;
    }

    .comment-info h4 {
        font-size: 0.9em;
    }

    .comment-info p {
        height: 59px;
        font-size: 0.85em;
    }

    .comment-grid {
        margin-bottom: 2em;
    }

    .content-grid-single span {
        font-size: 0.8em;
    }

    .content-grid-single p {
        height: 122px;
        line-height: 1.5em;
        font-size: 0.85em;
    }

    .comment-info p {
        overflow: hidden;
        height: 60px;
    }

    .comment-info a {
        padding: 0.4em 1.3em;
        font-size: 0.8em;
    }

    .comments {
        margin-top: 1.5em;
    }
}

@media (max-width: 320px) {
    .top-menu ul li a {
        margin: 0.9em 0.8em;
        font-size: 0.8em;
    }

    .header {
        height: 41px;
    }

    .logo {
        width: 25%;
        margin-top: 0.5em;
    }

    .banner-head h1 {
        font-size: 1em;
        margin-bottom: 1px;
    }

    .banner-head {
        margin: 1.05em 0;
    }

    .banner-links ul li:nth-child(2) {
        display: none;
    }

    .banner {
        min-height: 120px;
    }

    .banner-links ul li a {
        padding: 0.5em 0.6em;
        font-size: 0.7em;
    }

    .banner-head h2 {
        display: none;
    }

    .content-main {
        padding: 10px;
    }

    .content-grid-head {
        padding: 0.5em;
    }

    .content-grid-head h3 {
        font-size: 0.8em;
    }

    .content-grid-head h4 {
        font-size: 0.8em;
        float: left;
        margin-top: 5px;
    }

    .content-grid-info {
        padding: 0.7em 12px;
    }

    .content-grid-info h3, .content-sec-info h3 {
        font-size: 1em;
        margin-bottom: 5px;
    }

    .content-grid-info p, .content-sec-info p {
        font-size: 0.8em;
        height: 32px;
        margin-bottom: 5px;
        line-height: 1.2em;
    }

    .content-grid-info img, .content-sec-info img {
        height: 130px;
    }

    .content-grid-sec {
        margin-top: 1em;
    }

    .content-sec-info h4 {
        margin-bottom: 0.65em;
        font-size: 0.8em;
    }

    a.bttn {
        padding: 0.4em 0.58em;
        font-size: 0.75em;
    }

    .content-grid-sec {
        padding: 0.5em 12px 0 12px;
    }

    .pages ul li a {
        margin: 0 4px;
        font-size: 0.8em;
    }

    .search input[type="text"] {
        width: 79%;
        padding: 5px 8px;
    }

    .search input[type="submit"] {
        padding: 0px 0 10px 0;
        width: 37px;
        height: 32px;
        background: url(../images/splits.png) no-repeat -204px -11px;
    }

    .search {
        padding: 1em;
    }

    .search h3 {
        font-size: 0.95em;
    }

    .categories, .archives {
        padding: 1em 15px 0.5em 15px;
    }

    .categories h3, .archives h3 {
        font-size: 1em;
        margin-bottom: 0.6em;
    }

    .categories li a, .archives li a {
        font-size: 0.8em;
        padding: 5px 0;
    }

    .fotter-info h3, .fotter-list h3, .fotter-media h3 {
        font-size: 1em;
        padding-top: 1.2em;
    }

    .fotter-info p {
        height: 34px;
        font-size: 0.8em;
        line-height: 1.3em;
        margin-top: 0.5em;
    }

    .fotter-list ul li:nth-child(1) {
        margin-top: 0px;
    }

    .fotter-list ul li a {
        font-size: 0.8em;
        padding: 5px 0;
    }

    .copywrite {
        padding: 0.5em 0;
    }

    .contact, .terms {
        padding: 1em 0;
    }

    .contact-head h3, .terms h3 {
        font-size: 1.2em;
    }

    .contact form input[type="text"], .contact-right textarea {
        font-size: 0.85em;
        padding: 6px 7px;
    }

    .contact-right textarea {
        height: 110px;
    }

    .contact form input[type="submit"] {
        font-size: 0.8em;
        padding: 0.4em 1.5em;
    }

    .contact-head {
        padding-bottom: 1em;
    }

    .address h3 {
        font-size: 1.2em;
    }

    .locations {
        margin-top: 1.5em;
    }

    .address-info h4 {
        margin-bottom: 5px;
        font-size: 0.9em;
    }

    .address-info p {
        font-size: 0.8em;
    }

    .locations ul {
        margin-bottom: 1.3em;
    }

    .terms p, .term li {
        font-size: 0.8em;
    }

    .terms-sec-head p {
        overflow: hidden;
        height: 38px;
    }

    .term {
        padding: 0.5em 8px;
    }

    .term h4 {
        font-size: 0.85em;
    }

    .terms-sec-head {
        padding-bottom: 0.5em;
    }

    .terms p {
        overflow: hidden;
        height: 42px;
    }

    .terms input[type="checkbox"] {
        float: left;
        width: 5%;
    }

    p.agree {
        float: left;
        width: 92%;
    }

    .terms input[type="button"] {
        font-size: 0.8em;
        padding: 0.4em 1.5em;
    }

    img.single-pic {
        height: 130px;
    }

    .content-grid-single h3 {
        font-size: 1em;
    }

    .content-grid-single span {
        overflow: hidden;
        height: 31px;
    }

    .content-grid-single p {
        height: 61px;
        font-size: 0.8em;
    }

    .content-form form input[type="text"], .content-form form textarea {
        font-size: 0.85em;
        padding: 6px 11px;
    }

    .content-form form textarea {
        height: 106px;
    }

    .content-form form input[type="submit"] {
        padding: 0.3em 1.3em;
        font-size: 0.8em;
    }

    .content-grid-single {
        padding: 0.7em 12px;
    }

    .comment-info {
        width: 82%;
    }

    .comments h3 {
        margin-bottom: 10px;
    }

    .comment-info h4 {
        font-size: 0.8em;
        margin-bottom: 5px;
    }

    .comment-info h5 {
        font-size: 0.75em;
    }

    .comment-info p {
        height: 38px;
        font-size: 0.8em;
    }

    .comment-info a {
        padding: 0.3em 1em;
        font-size: 0.8em;
    }
}

